body {
  background-color: rgb(62, 63, 65);
  font: 14px sans-serif;
  color: azure;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  margin-top: 0%;
  font: 30px sans-serif;
  background: rgb(0, 0, 0);
  height: 37px;
  margin-left: 20%;
  width: 60%;
  text-align: center;
  padding: 6px;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font: 16px sans-serif;
  color: azure;
  background: rgba(0, 0, 0, 0.794);
  height: 20px;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: left;
  height: 18px;
  padding: 4px;
}

/* unvisited link */
a:link {
  color: rgb(172, 252, 255);
}

/* visited link */
a:visited {
  color: rgb(211, 160, 234);
}

/* mouse over link */
a:hover {
  color: rgb(196, 213, 255);
}

/* selected link */
a:active {
  color: rgb(175, 255, 171);
}

.leaflet-popup-content p {
  text-align: center;
  margin: 0.0em 0;
  background-color: rgba(255, 255, 255, 0.909);
  font: 10px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#toggles {
  position: absolute;
  top: 90%;
  z-index: 999;
  text-align: left;
  width: 262px;
  right: 29%;
  background-color: rgba(255, 255, 255, 0.844);
  border: medium solid rgba(255, 255, 255, 0.204);
  color: rgb(0, 0, 0);
  font: 12px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map {
  position: absolute;
  left: 1%;
  top: 53%;
  height: 300px;
  width: 70%;
}

#heatmap {
  position: absolute;
  text-align: center;
  left: 72%;
  top: 53%;
  height: 300px;
  width: 27%;
  background-color: rgb(0, 0, 0);
  font: 16px sans-serif;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 2;
}

#heatmap_xAxis {
  position: absolute;
  text-align: center;
  left: 40%;
  top: 85%;
  font: 10px sans-serif;
  font-weight: Bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 3;
}

#heatmap_yAxis {
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  left: -7%;
  top: 40%;
  font: 10px sans-serif;
  font-weight: Bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 3;
}

#helpIcon {
  position: absolute;
  text-align: center;
  width: 4vh;
  padding: 1vh;
  background-color: rgb(0, 29, 86);
  border: medium solid rgba(255, 255, 255, 0.693);
  top: 1%;
  left: 1%;
  font: 25px sans-serif;
  font-weight: Bold;
  z-index: 2;
}

#helpWindow {
  position: absolute;
  text-align: Left;
  width: 94%;
  height: 81%;
  padding: 1vh;
  background-color: rgb(216, 216, 216);
  border: medium solid rgb(255, 255, 255);
  border-width: 20px;
  color:black;
  top: 10%;
  left: 1%;
  font: 23px sans-serif;
  z-index: -2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#backdrop {
  position: absolute;
  background-color: rgb(62, 63, 65);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}