
body {
  background-color: rgb(57, 52, 48);
  font: 14px sans-serif;
  color: azure;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font: 38px sans-serif;
  
  background: rgb(0, 0, 0); 
  height: 40px;
  text-align: center;
  padding: 12px;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font: 18px sans-serif;
  color: azure;
  background: rgb(0, 0, 0); 
  height: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: left;
  height: 18px;
  padding: 4px;
}

/* unvisited link */
a:link {
  color: rgb(172, 252, 255);
}

/* visited link */
a:visited {
  color: rgb(211, 160, 234);
}

/* mouse over link */
a:hover {
  color: rgb(196, 213, 255);
}

/* selected link */
a:active {
  color: rgb(175, 255, 171);
}

.leaflet-popup-content p {
  text-align: center;
  margin: 0.0em 0;
  background-color: rgba(255, 255, 255, 0.838); 
  font: 10px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#toggles{
  position: absolute;
  top: 610px;
  z-index: 9999;
  text-align: left;
  width: 312px;
  left: 2%;
  background-color: rgba(255, 255, 255, 0.822);
  border: medium solid rgba(255, 255, 255, 0.204);
  color: rgb(0, 0, 0);
  font: 12px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map {
  position: absolute;
  left: 1%;
  top: 410px;
  height: 230px;
  width: 98%;
}
